*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#button button{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    position: sticky;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    position: relative;
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.text{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    position: sticky;
}

h1{
    font-size: 55px;
}

h3{
    font-size: 32px;
    font-weight: lighter;
    padding-top: 10px;
}

h4{
    font-size: 25px;
    font-weight: lighter;
    padding-top: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-top: 2%;
    padding-right: 2%;
    position: sticky;
}
